<p>table works!</p>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th rowspan="2">Name</th>
            <th colspan="2">HR Information</th>
            <th colspan="2">Acciones</th>
        </tr>
        <tr>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Acciones</th>
            <th>Notas</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dato of datos">
            <td>{{dato.nombre}}</td>
            <td>{{dato.apellido}}</td>
            <td>{{dato.edad}}</td>
            <td>
              <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
              <td>
                <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip-option color="none">Buen trabajo</mat-chip-option>
                    <mat-chip-option color="primary">Aceptable</mat-chip-option>
                    <mat-chip-option color="accent" [selected]="seleccionado">Atencion</mat-chip-option>
                    <mat-chip-option color="warn">Mal hecho</mat-chip-option>

                    <mat-chip-listbox aria-label="Dog selection">
                        <mat-chip (click)="openDialog()">
                          <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                          Actualizar
                        </mat-chip>
                      </mat-chip-listbox>
                    
                  </mat-chip-listbox>
                  
              </td>
        </tr>
    </tbody>
</table>
