<mat-stepper #stepper>
    <mat-step [stepControl]="formGroupAsignatura">
      <ng-template matStepLabel>Asignatura</ng-template>
        <app-asignatura></app-asignatura>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="formGroupEvaluacion">
      <ng-template matStepLabel>Rasgos</ng-template>
      <app-rasgo></app-rasgo>
    <div>
      <button mat-button matStepperPrevious>Regresar</button>
        <button mat-button matStepperNext>Siguiente</button>
    </div>
    </mat-step>

    <mat-step [stepControl]="formGroupActividad">
      <ng-template matStepLabel>Asignaturas</ng-template>
        <app-asignatura></app-asignatura>
    </mat-step>
  </mat-stepper>
