<h1 mat-dialog-title>CONSULTA</h1>
<form [formGroup]="formRasgo">
    <div mat-dialog-content>
      <div class="grid">
        <mat-form-field class="col-5">
        <mat-label>Asignatura</mat-label>
            <mat-select formControlName="asignatura">
            <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.asignatura">
                {{asignatura.asignatura}}
            </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-4">
            <mat-label>Grado</mat-label>
            <mat-select formControlName="grado">
            <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.grado">
                {{asignatura.grado}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>Grupo</mat-label>
            <mat-select formControlName="grupo">
            <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.grupo">
                {{asignatura.grupo}}
            </mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="resumen" class="mat-elevation-z8" style="display: false;">
        
            <ng-container matColumnDef="rasgo">
                <th mat-header-cell *matHeaderCellDef> Rasgo </th>
                <td mat-cell *matCellDef="let element"> {{element.rasgo}} </td>
            </ng-container>
            <ng-container matColumnDef="porcentaje">
                <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
                <td mat-cell *matCellDef="let element"> {{element.porcentaje}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
        <div class="col-7 col-offset-4">
            <canvas baseChart class="chart"
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins">
            </canvas>
        </div>
        
        
    </div>
    <div mat-dialog-actions *ngIf="id == null">
      <button mat-raised-button color="warn" mat-dialog-close>Close</button>
      <button type="submit" mat-raised-button color="primary" (click)="consultaRasgo()">Consulta</button>
    </div>
</form>
