<h1 mat-dialog-title>Nuevo Alumno</h1>
<form [formGroup]="formAlumno" (ngSubmit)="saveCliente()">
    <div mat-dialog-content>
      <div class="grid">
        <mat-form-field class="col-2">
            <mat-label>numeroLista</mat-label>
            <input placeholder="numeroLista" matInput formControlName="numeroLista">
        </mat-form-field>
        <mat-form-field class="col-6">
            <mat-label>nombres</mat-label>
            <input placeholder="nombres" matInput formControlName="nombres">
        </mat-form-field>
        <mat-form-field class="col-3">
            <mat-label>apellidoP</mat-label>
            <input placeholder="apellidoP" matInput formControlName="apellidoP">
        </mat-form-field>
      </div>
        <mat-form-field class="col-4">
            <mat-label>apellidoM</mat-label>
            <input placeholder="apellidoM" matInput formControlName="apellidoM">
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>grado</mat-label>
          <input placeholder="grado" matInput formControlName="grado">
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>grupo</mat-label>
          <input placeholder="grupo" matInput formControlName="grupo">
        </mat-form-field>
        <mat-form-field class="col-3">
        <mat-label>Escoge una opcion</mat-label>
          <mat-select formControlName="turno">
            <mat-option value="matutino">Matutino</mat-option>
            <mat-option value="vespertino">Vespertino</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field>
            <mat-label>Designation</mat-label>
           <mat-select formControlName="designation">
            <mat-option *ngFor="let item of desdata" [value]="item.code">
            {{item.name}}
            </mat-option>
           </mat-select>
        </mat-form-field>
        <mat-radio-group formControlName="gender" aria-label="Select an Gender">
            <mat-radio-button value="M">Male</mat-radio-button>
            <mat-radio-button value="F">Female</mat-radio-button>
          </mat-radio-group>
          <section class="example-section">
            <br>
            <mat-checkbox formControlName="isactive" class="example-margin">Is Active</mat-checkbox>
          </section> -->
 
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" mat-dialog-close>Close</button>
      <button type="submit" mat-raised-button color="primary" cdkFocusInitial>Save</button>
    </div>
</form>
