<h1 mat-dialog-title>Alumno</h1>
<div mat-dialog-content>
  Datos del alumno:
  <form [formGroup]="formAlumno" (ngSubmit)="saveCliente()">
    <p>
    <mat-form-field appearance="outline">
      <mat-label>Numero lista</mat-label>
      <input matInput placeholder="Ej. 22" formControlName="numeroLista">
      <mat-icon matSuffix>format_list_numbered</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="ml-2">
      <mat-label>Nombres del alumno</mat-label>
      <input matInput placeholder="Ej. Jorge Enrique" formControlName="nombres">
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="ml-2">
      <mat-label>Escribe apellido paterno</mat-label>
      <input matInput placeholder="Ej. Nieto" formControlName="apellidoP">
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Escribe apellido materno</mat-label>
      <input matInput placeholder="Ej. Moreno" formControlName="apellidoM">
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="ml-2">
      <mat-label>Escribe grado</mat-label>
      <input matInput placeholder="Ej. 3ro" formControlName="grado">
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="ml-2">
      <mat-label>Escribe grupo</mat-label>
      <input matInput placeholder="Ej. E" formControlName="grupo">
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Escribe el turno</mat-label>
      <input matInput placeholder="Ej. Matutino" formControlName="turno">
      <mat-icon matSuffix>check_circle</mat-icon>
    </mat-form-field>
  </p>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close type="submit">Guardar</button>
  </mat-dialog-actions>

  </form>

  <app-alumnos [newAlumnos]="formAlumno.value"></app-alumnos>
</div>
