<h1 mat-dialog-title>Calificacion</h1>
<form [formGroup]="formConsultaCalificacion">
    <div mat-dialog-content>
      <div class="grid">
        <mat-form-field class="col-5">
        <mat-label>Asignatura</mat-label>
            <mat-select formControlName="idAsignatura">
            <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">
                {{asignatura.asignatura}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-5">
          <mat-label>Asignatura</mat-label>
              <mat-select formControlName="idRasgo">
              <mat-option *ngFor="let rasgo of rasgos" [value]="rasgo.id">
                  {{rasgo.rasgo}}
              </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="col-5">
            <mat-label>Actividades</mat-label>
                <mat-select formControlName="idActividad">
                <mat-option *ngFor="let actividad of actividades" [value]="actividad.id">
                    {{actividad.actividad}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-5">
              <mat-label>Asignatura</mat-label>
                  <mat-select formControlName="grado">
                  <mat-option *ngFor="let grado of alumnos" [value]="grado.grado">
                      {{grado.grado}}
                  </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field class="col-5">
                <mat-label>Asignatura</mat-label>
                    <mat-select formControlName="grupo">
                    <mat-option *ngFor="let grupo of alumnos" [value]="grupo.grupo">
                        {{grupo.grupo}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
      </div>
        
 
    </div>
    <button type="submit" mat-raised-button color="primary" (click)="consultarDatos()">Consultar</button>
</form>

